html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px*/
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
}
h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
}
/* Globales */
a {
  text-decoration: none;
  color: #000;
}

/* Header y Navegacion */

.container {
  max-width: 120rem;
  margin: 0 auto;
}

img {
  max-width: 100%;
  display: block;
}

.name-site {
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-align: center;
  font-size: 4rem;
}

.name-site span {
  color: #037bc0;
}
.container-nav {
  border-top: 1px solid #e1e1e1;
}

.nav-main {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
}

.hero {
  background-image: url(../img/principal.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 55rem;
}

/* Categoria */
.categories h2 {
  text-align: center;
}
.category a {
  text-align: center;
  display: block;
  padding: 2rem;
  font-size: 2rem;
}
.category a:hover {
  background-color: #037bc0;
  color: #fff;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.list-category {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
